/* enable sound button */
.btn {
  background: var(--purple);
  border: 0;
  box-shadow: 0 1px 15px rgba(132,20,242,.5);
  color: var(--white);
  cursor: pointer;
  font-weight: var(--weight-bold);
  text-align: center;
  text-decoration: none;
  transition: box-shadow .15s ease-in-out;
}

.btn.md {
  border-radius: var(--lg);
  height: var(--lg);
  line-height: var(--lg);
  padding: 0 var(--md);
}

.btn.sm {
  border-radius: var(--md);
  box-shadow: 0 1px 10px rgba(132,20,242,.5);
  font-size: 13px;
  height: var(--md);
  line-height: var(--md);
  padding: 0 var(--sm);
}

.btn:hover,
.btn:active,
.btn:focus {
  box-shadow: 0 0 0 2px var(--purple-dark), 0 0 0 4px var(--teal), 0 0 30px var(--teal);
  outline: 0;
}
