.footer {
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.75));
  bottom: 0;
  height: var(--xl);
  left: 0;
  padding: 0 var(--lg);
  position: absolute;
  right: 0;
  text-shadow: 0 0 9px rgba(255,255,255,.5);
}

.status {
  font-family: var(--vcr);
  font-size: 16px;
  font-weight: var(--weight-bold);
}

.red {
  color: var(--red);
  text-shadow: 0 0 9px rgba(242,80,88,.5);
}

.status::before,
.status::after {
  text-align: center;
}

@media (max-width: 750px) {
  .footer {
    flex-direction: column;
    height: auto;
    padding: var(--md);
  }

  .status {
    margin-bottom: var(--sm);
    margin-top: var(--sm);
  }
}
