.noUiSlider {
  background: var(--purple);
  background-position: 0 0;
  background-size: 300% 100%;
  cursor: pointer;
  display: inline-block;
}

/* toggle button */
.noUiSlider div {
  transition: box-shadow .15s ease-in-out;
}

.noUiSlider div.active {
  box-shadow: 0 0 0 2px var(--purple-dark), 0 0 0 4px var(--teal), 0 0 30px var(--teal);
}

.noUiSlider > a {
  background: rgba(0,0,0,.69);
  border-radius: 10px;
}
