.flex {
  align-items: stretch;
  display: flex;
  flex: 1 1 auto;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.noscroll {
  overflow: visible;
}

.col {
  flex-flow: column nowrap;
}

.shrink {
  flex: 0 0 auto;
}

.grow {
  flex: 1 1 100%;
}

.justify-center {
  justify-content: center;
}

.justify-right {
  justify-content: flex-end;
}

.justify-justified {
  justify-content: space-between;
}

.justify-spaced {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.container {
  max-width: 960px;
  width: 100%;
}

.hide {
  display: none;
}

.show {
  display: block;
}
