.main {
  background: linear-gradient(#291638, #0e0813);
  color: var(--white);
  height: 100vh;
  overflow: hidden;
  position: relative;
  user-select: none;
  width: 100vw;
}

.main::before {
  background: url(../../img/scanlines.svg);
  bottom: 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: .05;
  position: absolute;
  pointer-events: none;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}

.view {
  filter: blur(.5px);
}

.view,
.view svg {
  height: 100%;
  width: 100%;
}

.footer {
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.75));
  bottom: 0;
  height: var(--lg);
  left: 0;
  padding: 0 var(--md);
  position: absolute;
  right: 0;
}

/* enable sound button */
.btn.unmute {
  border-radius: 50px;
  bottom: 0;
  display: table;
  filter: blur(.5px);
  font-family: var(--vcr);
  font-size: 30px;
  height: 100px;
  left: 0;
  line-height: 100px;
  margin: auto;
  opacity: .95;
  position: absolute;
  right: 0;
  text-shadow: 1px 0 var(--red);
  top: 0;
  width: 400px;
  z-index: 10;
}

.btn.unmute:hover,
.btn.unmute:active,
.btn.unmute:focus {
  box-shadow: 0 0 0 3px var(--purple-dark), 0 0 0 6px var(--teal), 0 0 30px var(--teal);
}

/* edits per minute */
.newuser-label {
  bottom: 0;
  right: 0;
  position: absolute;
}

/* test */
.test-button {
  margin-right: var(--sm);
}

/* transition */
circle {
  /* max_life + 1s */
  animation: fade-in 11s var(--trans-time) forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(.8);
  }
  10% {
    opacity: 1;
    transform: scale(1);
  }
  20% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(.9);
  }
}
